.token {
	color: maroon ;
        text-decoration: none;
}  

.person {
        text-decoration: underline;
}  

.definedterm.person {

	color: #00AAAA ;
        text-decoration: underline;
}  

.definedterm {
	color: green ;
        text-decoration: none;
}  


.xref {
	color: darkblue ;
}  


.jurisdiction {
	color: #5500AA ;
       
}

.missing {
	color: magenta ;
       
}